[log]
level = "librepust=info" # "trace" "info" "debug" "warn" "error"
ansi = true  # support ANSI colors
stdout = true # print logs to stdout
directory = "log/rcproxy" # log file directory
file_name = "rcproxy.log" # log file name

[metrics]
port = 2110 # metrics server address port

[[clusters]]
name = "test-cluster"
listen_addr = "127.0.0.1:6379"
hash_tag = "{}"
thread = 4
cache_type = "redis"
servers = ["127.0.0.1:6370:1 redis-1", "127.0.0.1:6371:1 redis-2"]

timeout = 100000
dial_timeout = 500
listen_proto = "tcp"
node_connections = 1

auth = "" # password of the remote setup